{% extends "base.html" %}

{% load static %}
{% load chunks %}

{% block title %}All Products | EasyBuy{% endblock title %}EasyBuy : 


{% block content %}
    
    <!-- All Products -->

    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            
        </div>
        
        {% comment %} {% for product_chunk in products|chunks:4 %} {% endcomment %}
        <div class="row">
            {% for product in products %}
                <div class="col-4 product-item">
                    <a href={% url "product_details" product.id %}><img src="{{ product.image.url }}"></a>
                    <h4>{{ product.title }}</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>₹{{ product.price }}</p>
                </div>
            {% endfor %}
        </div>
        {% comment %} {% endfor %} {% endcomment %}

        <div class="page-btn">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
            
            {% if products.has_previous %}
                <a href="?page={{products.previous_page_number}}"><span>&#8592;</span></a>
            {% endif %}

            {% if products.number > 3 %}
                <a href="?page=1"><span>1</span></a>
                ...
                {% for i in page_set_2 %}
                    {% if products.number == i %}
                        <a href="?page={{i}}"><span class="page-btn-active">{{i}}</span></a>
                    {% else %}
                        <a href="?page={{i}}"><span>{{i}}</span></a>
                    {% endif %}
                {% endfor %}      

            {% else %}
                {% for i in page_set_1 %}
                    {% if products.number == i %}
                        <a href="?page={{i}}"><span class="page-btn-active">{{i}}</span></a>
                    {% else %}
                        <a href="?page={{i}}"><span>{{i}}</span></a>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if products.has_next %}
                <a href="?page={{products.next_page_number}}"><span>&#8594;</span></a>
            {% endif %}
            
        </div>
    </div>
{% endblock content %}

